PORT=4000
HOST=localhost
SALT=salt
DB_HOST=127.0.0.1
DB_USER=admin
DB_PASSWORD=test
DB_NAME=six-cities
DB_PORT=27018
UPLOAD_FILES_DIRECTORY=upload
STATIC_FILES_DIRECTORY=static
JWT_SECRET=Gq2-B1egouAnMxmXlR2ElVT6wCa97PS6lxzVI8LnGvo
JWT_ALGORITHM=HS256
JWT_EXPIRED=2d